// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "keybind.kdl"
include "misc.kdl"
include "windows.kdl"

// startup
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "flatpak" "run" "com.bitwarden.desktop"
